<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<style> 
.weibo_list{ 
	width:250px; 
} 
.tv_submit{ 
	width:50px; 
}
.command_list{ 
	width:350px; 
} 
</style>
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>my web</title>
</head>

<body>

<h1>welcome!</h1>

<form method="post">
<span style="font-size: 20pt"><B>MUSIC</B></span>
<input type="submit" name="music" value="ON/OFF"> 
<span style="font-size: 18">{{app.music}}</span>
</form>

<br>

<form method="post">
<span style="font-size: 20pt"><B>WEIBO</B></span>
<input class="weibo_list" type="text" name="weibo_content">
<input type="submit" name="weibo" value="Post"> 
</form>

<br>

<form method="post">
<span style="font-size: 20pt"><B>TV</B></span>
<input class="tv_submit" type="submit" name="tv" value="Power"> 
<input class="tv_submit" type="submit" name="tv" value="Mute"> 
<input class="tv_submit" type="submit" name="tv" value="OK"> 
<input class="tv_submit" type="submit" name="tv" value="Ch+"> 
<input class="tv_submit" type="submit" name="tv" value="Ch-"> 
<input class="tv_submit" type="submit" name="tv" value="Vol+"> 
<input class="tv_submit" type="submit" name="tv" value="Vol-"> 
</form>

<br>

<form method="post">
<span style="font-size: 20pt"><B>LIGHT</B></span>
<input type="submit" name="lights" value="ON/OFF"> 
<span style="font-size: 18">{{app.light}}</span>
</form>

<br>

<form method="post">
<span style="font-size: 20pt"><B>T&H</B></span>
<input type="submit" name="tem_hum" value="GET"> 
<span style="font-size: 18">{{app.tem_hum}}</span>
</form>

<br>
<br>
<br>
<form method="post">
<span style="font-size: 10pt">COMMAND</span>
<input class="command_list" type="text" name="command_line">
<input type="submit" name="command" value="OK"> 
<br>
<span style="font-size: 14">{{app.cmd_out}}</span>
</form>

</body>
</html>
