<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<style type="text/css">
<!--
.hyperlink {
	font-size: 20pt;
}
-->
</style>
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>my web</title>
</head>

<body>

<h1>welcome!</h1>

<form method="post">
<span style="font-size: 20pt"><B>MUSIC</B></span>
<input type="submit" name="music" value="ON/OFF"> 
<span style="font-size: 18">{{app.music}}</span>
</form>

<form method="post">
<span style="font-size: 20pt"><B>WEIBO</B></span>
<input type="text" name="weibo_content">
<input type="submit" name="weibo" value="Post"> 
</form>

</body>
</html>
